h1 {
font-family: Georgia, serif;
height: 100%;
margin: 0;
text-align: center;
width: 100%;
color: rgb(197, 197, 8);
font-size: 50px;
}


h2 {
font-family: Georgia, serif;
height: 100%;
margin: 0;
text-align: left;
width: 100%;
font-size: 30px;
}

body {
background-color: rgb(206, 65, 206);
}