h1 {
font-family: Georgia, serif;
height: 100%;
text-align: center;
width: 100%;
color: black;
font-size: 60px;
margin: 0;
position: fixed;
}


h2 {
    font-family: Georgia, serif;
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 40px;
    text-decoration: underline;
}

body {
background-color: white;
}

ul li a {
padding: 10px;
width: 60px;
background-color: white;
font-size: 20px;
border: black 2px solid;
text-decoration: none;
color: black;
position: fixed;
margin-top: 75px;
}

ul {
list-style-type: none;
display: flex;
text-align: center;
position: sticky;
}

li {
Display: inline;
margin-right: 200px;
text-align: center;
}

p {
font-size: 20px;
width: 33%;
margin: auto;
color: black;
}

nav {
margin: auto;
border-top: blue 10px solid;
position: fixed;
}

p {
text-align: center;
width: 33%;
}

.margin {
margin: 150px;
width: 33%;
}