nav {
height: 100px;
width: 100%;
background-color: white;
border-bottom: 10px solid blue;
text-align: center;
clear: both;
margin: auto;
text-align: center;
top: 0;
width: 100%;
}

.button {
    padding: 10px;
    background-color: white;
    color: black;
    border: black 3px solid;
    display: inline;
    text-decoration: none;
}

a {
text-decoration: none;
color: black;
}

.margin {
text-align: center; 
display:inline;
float: none;
padding-top: 2in;
}

.left {
float: left; 
}

.right {
float: right;
}

h1 {
text-decoration: underline;
font-size: 25px;
padding-top: 20px;
}

.about{
padding: 50px;
}

.button:hover .contact {
margin-right: auto;
margin-left: auto;
}

a:hover{
    background: #000000;
}

.right {
height: 600px;
width: 600px;
}

p {
font-size: 20px;
}

h2 {
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

.contact {
margin-bottom: 20px;
bottom: 0;
position: absolute;
width: 100%;
}

#destiny2 {
text-align: center;
text-decoration: underline;
max-width: 33%;
float: right;
}

#babyme {
text-align: center;
text-decoration: underline;
max-width: 33%;
float: left;
}

.font{
font-size: 25px;
}

.title {
padding-bottom: 80px;
}

.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
    text-align: top;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: darkblue;
    float: right;
    text-align: top;
    
  }
  
  .dropdown {
    position: relative;
    display: block;
    float: right;
    text-align: top;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 12px 12px 16px 16px rgba(0,0,0,0.2);
    z-index: 1;
    float: right;
    margin-left: 40%;
    right: 140px;
    left: auto;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
    text-align: top;
  }
  
  .dropdown-content a:hover {background-color: rgb(95, 220, 236)}
  
  .show {display:inline;}

#top {
max-width: 20%;
margin-left: 40%;
margin-right: 40%;
}

